* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
span{
  color:#0db10b;
}
.listmaindiv {
  flex: 1 1 25%;
  margin: 2%;
  padding: 12px;
  border: 2px solid #000;
}
.listmaindiv:hover{
  border: 2px solid #11add1;

}
 img {
  width: 50%;
  border:1px solid gray;
}



h3 {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 2px;
}


.section-grid{
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}

.list-prd {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  color: #11add1;
  margin: 1px;
}

.prdtitle{
  color: #11add1;
  font-size: 20px;
}
.descdiv {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}